<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>
<body>
    <h1>All Courses</h1>
    <ul>
        {% for course in all_courses %}
            <li>{{ course.course_name }} - {{ course.duration }} - {{ course.cost }}
                <form action="{{ url_for('enroll_course', course_id=course.id) }}" method="post">
                    <button type="submit">Enroll</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
